<div class="modal-header">
	<h3 class="modal-title">Edit Latest Article</h3>
</div>
<form class="form-horizontal" enctype="multipart/form-data" name="latest_article_form" method="post" novalidate
>	
<div class="modal-body">
	<div class="form-group" required="">
		<label for="article_name" class="col-sm-2 control-label">Article Name</label>
		<div class="col-sm-10">								
			<input type="text" class="form-control" ng-model="latestArticleCtrl.entity.article_name" id="article_name" name="article_name" required>			
			<span style="color:red" ng-show="latest_article_form.article_name.$dirty"><span ng-show="latest_article_form.article_name.$error.required">This field is required.</span></span>					
		</div>
	</div>
	<div class="form-group" required="">
		<label for="pdf_link" class="col-sm-2 control-label">Pdf Link</label>
		<div class="col-sm-10">								
			<input type="text" class="form-control" ng-model="latestArticleCtrl.entity.pdf_link" id="pdf_link" name="pdf_link" required>			
			<span style="color:red" ng-show="latest_article_form.pdf_link.$dirty"><span ng-show="latest_article_form.pdf_link.$error.required">This field is required.</span></span>					
		</div>
	</div>
	<div class="form-group">
		<label for="journal_name" class="col-sm-2 control-label">Journal Name</label>
		<div class="col-sm-10">			
			<select class="form-control" ng-model="latestArticleCtrl.entity.article_category" name="article_category" required>				
				<option value="">Select Journal</option>
				<option ng-selected="{{journal.id == latestArticleCtrl.entity.article_category}}" ng-repeat="journal in latestArticleCtrl.journals" value="{{journal.id}}">{{journal.journal_name}}</option>
			</select>
			<span style="color:red" ng-show="latest_article_form.article_category.$dirty"><span ng-show="latest_article_form.article_category.$error.required">Journal Name is required.</span></span>
		</div>
	</div>
	<div class="form-group" required="">
		<label for="article_image" class="col-sm-2 control-label">Image Name</label>
		<div class="col-sm-10">								
			<input type="text" class="form-control" ng-model="latestArticleCtrl.entity.article_image" id="article_image" name="article_image" required>			
			<span style="color:red" ng-show="latest_article_form.article_image.$dirty"><span ng-show="latest_article_form.article_image.$error.required">This field is required.</span></span>					
		</div>
	</div>
	<div class="form-group">
		<label for="author_name" class="col-sm-2 control-label">Author Name</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" ng-model="latestArticleCtrl.entity.author_name" id="author_name" name="author_name" required>
			<span style="color:red" ng-show="latest_article_form.author_name.$dirty"><span ng-show="latest_article_form.author_name.$error.required">This field is required.</span></span>					
		</div>
	</div>	
</div>
<div class="modal-footer">			
	<span class="server_msg">{{latestArticleCtrl.server_msg}}</span>
	<button class="btn btn-link" ng-click="$close()">Cancel</button>	
	<button ng-disabled="(!latest_article_form.article_name.$valid && !latest_article_form.article_category.$valid)" class="btn btn-primary" ng-click="latestArticleCtrl.save()">Save</button>			
</div>
</form>	