<div ng-controller="journalPostController as journalPostCtrl">	
<h1 class="page-header">Journal Posts</h1>

<div class="create-btn">
		<input type="text" name="avens-grid-search" ng-model="search_value" class="avens-grid-search form-control" placeholder="Search" ng-keyup="journalPostCtrl.searchGrid(search_value)" />
		<a ng-click="journalPostCtrl.addJournalPost()" class="btn btn-primary">Create Journal Post</a>
	</div>

<div class="loader" ng-show="journalPostCtrl.spinner">Loading...</div>
<div ng-if="!journalPostCtrl.spinner && journalPostCtrl.serviceGrid.data.length > 0" ng-style="journalPostCtrl.getTableHeight()" id="serviceGrid"						
	ui-grid-pagination 						
	ui-grid-edit
	ui-grid-auto-resize
	ui-grid="journalPostCtrl.serviceGrid" class="grid"></div>

	<div class="alert alert-danger" role="alert" ng-show="journalPostCtrl.serviceGrid.data.length == '0'">No Records Found</div>		
</div>	
