<div ng-controller="journalController as vm">		
<h1 class="page-header">Create Journal</h1>

<div class="create-btn">
		<input type="text" name="avens-grid-search" ng-model="search_value" class="avens-grid-search form-control" placeholder="Search" ng-keyup="vm.searchGrid(search_value)" />
		<a ng-click="vm.addCategory()" class="btn btn-primary">Create Main Category</a>
	</div>

<div class="loader" ng-show="vm.spinner">Loading...</div>
	<div ng-if="!vm.spinner && vm.serviceGrid.data.length > 0" ng-style="vm.getTableHeight()" id="serviceGrid" 						
		ui-grid-pagination 						
		ui-grid-edit
		ui-grid-auto-resize
		ui-grid="vm.serviceGrid" class="grid"></div>

		<div class="alert alert-danger" role="alert" ng-show="vm.serviceGrid.data.length == '0'">No Records Found</div>		
	</div>	
