<div ng-controller="latestArticleController as latestArticleCtrl">	
<h1 class="page-header">Latest Articles</h1>

<div class="create-btn">
		<input type="text" name="avens-grid-search" ng-model="search_value" class="avens-grid-search form-control" placeholder="Search" ng-keyup="latestArticleCtrl.searchGrid(search_value)" />
		<a ng-click="latestArticleCtrl.addJournalArchive()" class="btn btn-primary">Create Latest Article</a>
	</div>

<div class="loader" ng-show="latestArticleCtrl.spinner">Loading...</div>
<div ng-if="!latestArticleCtrl.spinner && latestArticleCtrl.serviceGrid.data.length > 0" ng-style="latestArticleCtrl.getTableHeight()" id="serviceGrid"						
	ui-grid-pagination 						
	ui-grid-edit
	ui-grid-auto-resize
	ui-grid="latestArticleCtrl.serviceGrid" class="grid"></div>

	<div class="alert alert-danger" role="alert" ng-show="latestArticleCtrl.serviceGrid.data.length == '0'">No Records Found</div>		
</div>	
