<div ng-controller="ebController as ebCtrl">		
<h1 class="page-header">Eb Members</h1>

<div class="create-btn">
	<input type="text" name="avens-grid-search" ng-model="search_value" class="avens-grid-search form-control" placeholder="Search" ng-keyup="ebCtrl.searchGrid(search_value)" />
	<a ng-click="ebCtrl.addMember()" class="btn btn-primary">Create Eb Member</a>
</div>

<div class="loader" ng-show="ebCtrl.spinner">Loading...</div>
<div ng-if="!ebCtrl.spinner && ebCtrl.serviceGrid.data.length > 0" ng-style="ebCtrl.getTableHeight()" id="serviceGrid" 						
	ui-grid-pagination 						
	ui-grid-edit
	ui-grid-auto-resize
	ui-grid="ebCtrl.serviceGrid" class="grid"></div>

	<div class="alert alert-danger" role="alert" ng-show="ebCtrl.serviceGrid.data.length == '0'">No Records Found</div>		
</div>	
